{% extends "accounts/main.html" %}

{% block content %}

{% include "accounts/hrstatus.html" %}

<div class="row">
    <div class="col s12 m12">
        <h3>Doctors</h3>
        <hr>
        <div class="card grey darken-1">
            <div class="card-content">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Status</th>
                            <th>Department</th>
                            <th>Salary</th>
                            <th>Update</th>
                            <th>Remove</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for doctor in doctors %}

                        <tr>
                            <td>{{doctor.name}}</td>
                            <td>{{doctor.contact}}</td>
                            <td>{{doctor.email}}</td>
                            <td>{{doctor.gender}}</td>
                            <td>{{doctor.age}}</td>
                            <td>{{doctor.status}}</td>
                            <td>{{doctor.department}}</td>
                            <td>{{doctor.salary}}</td>
                            <td>
                                <a class="btn btn-small waves-effect waves-light blue accent-2 black-text"
                                    href="{% url 'update-doctor' doctor.id %}">
                                    Update
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-small waves-effect waves-light black-text"
                                    href="{% url 'delete-doctor' doctor.id %}">
                                    Remove
                                </a>
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}